<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>eHotelia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
</head>
<body>

    <header class="topbar">
        <div class="brand">
    <a href="{{ url_for('index') }}" class="brand-link">eHotelia</a>
</div>
<div style="color:white; margin-left:auto; margin-right:15px;">
    {{ session.get('user_name', '') }} ({{ session.get('user_role', '') }})
</div>
<button class="menu-toggle" onclick="toggleMenu()">☰</button>

    </header>

<nav id="mobileMenu" class="mobile-menu">
    <a href="{{ url_for('index') }}">Accueil</a>

        {% if session.get('user_role') == 'manager' %}
            <a href="{{ url_for('clients') }}">Clients</a>
            <a href="{{ url_for('chambres') }}">Chambres</a>
            <a href="{{ url_for('hotels') }}">Hôtels</a>
            <a href="{{ url_for('employees') }}">Employés</a>
            
        {% endif %}

        <a href="{{ url_for('search') }}">Recherche</a>
        <a href="{{ url_for('reservation') }}">Réservation</a>
        <a href="{{ url_for('location') }}">Location</a>
        <a href="{{ url_for('logout') }}">Déconnexion</a>
</nav>

    <main class="hero-page">
        <div class="slider fullscreen-slider">
            <img class="slide active" src="{{ url_for('static', filename='images/AccueilPage.png') }}" alt="Accueil 1">
            <img class="slide" src="{{ url_for('static', filename='images/staff.png') }}" alt="Accueil 2">
            <img class="slide" src="{{ url_for('static', filename='images/receptionhotel.jpg') }}" alt="Accueil 3">

            <div class="slider-overlay"></div>

            <div class="hero-content">
                <div class="hero-title-box">
                    <h1>Un séjour pensé pour apaiser l’esprit et réchauffer le cœur.</h1>
                </div>

                <p class="hero-subtitle">
                    Réservez, louez et gérez facilement les chambres de vos hôtels.
                </p>
            </div>
        </div>
    </main>

    <script>
        function toggleMenu() {
            document.getElementById("mobileMenu").classList.toggle("show");
        }

        let currentSlide = 0;
        const slides = document.querySelectorAll(".slide");

        function showNextSlide() {
            slides[currentSlide].classList.remove("active");
            currentSlide = (currentSlide + 1) % slides.length;
            slides[currentSlide].classList.add("active");
        }

        setInterval(showNextSlide, 3000);
    </script>
    <script>
    function toggleMenu() {
        document.getElementById("mobileMenu").classList.toggle("show");
    }
</script>
</body>
</html>